<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <title>BBL KnockoutJs</title>

    <link href="/Content/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div>
            <form method="post" data-bind="submit: search">
                <h1>Bbl</h1>
                <div>
                    <input type="search" placeholder="Search an unicorn..." data-bind="textInput: value" />
                    <input type="search" data-bind="textInput: reversedValue" placeholder="Reverse search..." />
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
    </header>
    <div id="body">
        <aside>
            <ul data-bind="foreach: filteredResults">
                <li data-bind="click: $parent.select, css: { selected: isSelected }">
                    <img data-bind="attr: { src: imagePath, alt: name }" />
                    <span data-bind="text: name"></span>
                </li>
            </ul>
        </aside>
        <div data-bind="with: selectedResult">
            <img data-bind="attr: { src: imagePath, alt: name }" />
            <p data-bind="text: name"></p>
            <p class="keywords">
                Keyword :
                <!-- ko { foreach: keywords } -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </p>
            <p>Creation date : <span data-bind="text: creationDate"></span></p>
        </div>
    </div>

    <script src="/Scripts/jquery-2.1.3.min.js"></script>
    <script src="/Scripts/knockout-3.3.0.debug.js"></script>
    <script src="/Scripts/main.js"></script>
</body>
</html>
